@import 'starter/theme/colors.scss';

.heroBanner {
  text-align: center;
}

.heroText {
  color: $header-color;
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 1.7rem;
  margin-bottom: 1.4rem;
}

.punchline {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.3rem;
}

.ulist {
  list-style: none;
  padding-top: 0.2rem;
}
