// @import 'colors.scss';

// Note: In case of conflict with default/reset css, try setting
// emotion Global styles in web/app.tsx

@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/GloriaHallelujah-Regular.ttf) format('truetype');
}

body {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px; // https://getcssscan.com/css-box-shadow-examples#9
  background-color: rgba(230, 230, 250, 0.05);
}
